@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 98%;
    --background: 0 0% 3.9%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* Novalitix Blue: #0071dc */
    --primary: 210 100% 43%;
    --primary-foreground: 0 0% 98%;

    /* Novalitix Yellow: #fcb239 */
    --secondary: 38 97% 60%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 210 100% 43%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 210 100% 43%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --tertiary: 0 0% 90%;
    --tertiary-foreground: 0 0% 9%;

    --subtle: 240 6% 90%;
    --subtle-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
  }
}

::selection {
  background-color: rgba(0, 113, 220, 0.2);
  color: hsl(var(--foreground));
}

html, body {
  font-family: "Inter", sans-serif !important;
}

.dumy {
  color: hsl(0 0% 98%);
  color: rgb(38, 38, 38)
    /* @apply to-purple-500 */
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.gradient {
  background: conic-gradient(from 230.29deg at 51.63% 52.16%, #0071dc 0deg, #fcb239 67.5deg, #0071dc 198.75deg, #fcb239 251.25deg, #0071dc 301.88deg, #fcb239 360deg);
}

.not-found {
  box-shadow: rgba(150, 18, 226, 0.3) 5px 5px;
}